@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'BUKRA';
    src: url('./font/BUKRA.ttf');
}

@font-face {
    font-family: 'ADELIA';
    src: url('./font/ADELIA.otf');
}